# AUTH SERVICE — Variables de Entorno
PORT=3001
NODE_ENV=development
SUPABASE_URL=https://xtbzwxwrlvtsdbppdgxe.supabase.co
SUPABASE_SERVICE_ROLE_KEY=tu_service_role_key_aqui
INTERNAL_API_KEY=misma_clave_que_el_gateway
FRONTEND_URL=http://localhost:4200
